@import url(./__item/photo-grid__item.css);

.photo-grid {
	display: grid;
	max-width: 95.48vw;
	padding-top: 92px;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, 284px);
	grid-template-rows: repeat(auto-fit, 213px);
	grid-column-gap: 1.35%;
	grid-row-gap: 2.38%;
}


@media (max-width: 1024px) {
	.photo-grid {
		max-width: 90.625vw;
		grid-template-columns: repeat(auto-fit, 300px);
		grid-template-rows: repeat(auto-fit, 225px);
		grid-row-gap: 14px;
		grid-column-gap: 14px;
		padding-top: 8.59vw;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.photo-grid{
		max-width: 93.75vw;
		grid-template-columns: repeat(auto-fit, 352px);
		grid-template-rows: repeat(auto-fit, 264px);
		grid-row-gap: 16px;
		grid-column-gap: 16px;
		padding-top: 11.45vw;
		margin: 0 auto;
	}
}

@media (max-width: 320px) {
	.photo-grid{
		max-width: 288px;
		grid-template-columns: repeat(auto-fit, 288px);
		grid-template-rows: repeat(auto-fit, 216px);
		grid-row-gap: 12px;
		grid-column-gap: 12px;
		margin: 0 auto;
	}
}