@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);

.lead {
	max-width: 76.87%;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.lead{
		max-width: 90.6%;

	}
}


@media (max-width: 768px) {
	.lead{
		max-width: 100%;

	}
}

@media (max-width: 320px) {
	.lead{
		max-width: 100%;

	}
}