@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 28px auto 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    max-width: 288px;
    margin: 16px auto 0;
  }
}