.footer__link {
  margin-right: 18px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  transition: opacity 0.5s ease-out;
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin: 0 0 32px;
  }
}