.lead__title {
	padding-top: 56px;
	width: 720px;
	min-height: 200px;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;
}


@media (max-width: 1024px) {
	.lead__title{ 
		padding-top: 48px;
	}
}
