.place__paragraph {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	margin: 0;
	padding: 0 0 24px;
}

@media (max-width: 1024px) {
	.place__paragraph{

		padding: 0 0 27px;
	}
}

@media (max-width: 768px) {
	.place__paragraph{
		padding: 0 0 24px;
	}
}

@media (max-width: 320px) {
	.place__paragraph{
		font-size: 16px;
		line-height: 26px;
		width: 288px;
		margin: 0 auto;
	}
}
