.lead__image {
	padding-top: 64px;
	max-width: 100%;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.lead__image {
		padding-top: 56px;
	}
}

@media (max-width: 768px) {
	.lead__image {
		padding-top: 7.29vw;
	}
}

@media (max-width: 320px) {
	.lead__image{
		padding: 0;
		width: 320px;
		height: 200px;
	}
}