.lead__image {
	background-image: url(../../../images/lead__image-bg.png);
	width: 984px;
	height: 615px;
	margin-top: 64px;
	object-fit: contain;
}

.lead__image>img{
	width: 100px;
	height: 100px;
}