.lead__image {
	padding-top: 64px;
	width: 984px;
	height: 615px;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.lead__image {
		padding-top: 56px;
		width: 928px;
		height: 580px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.lead__image{
		width: 768px;
		height: 480px;
		margin: 0 auto;
	}
}

@media (max-width: 320px) {
	.lead__image{
		padding: 0;
		width: 320px;
		height: 200px;
		margin: 0 auto;
	}
}