.intro__text {
  max-width: 690px;
  padding-top: 40px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro__text {
    width: 288px;
    margin: 0 auto;
  }
}