@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list-item/intro__list-item.css);
.intro {
  padding-top: 92px;
  max-width: 984px;
  margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    width: 928px;
    padding-top: 88px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 720px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro {
    width: 288px;
    padding-top: 64px;
  }
}