@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list/__list_weight/intro__list_weight_bold.css);

.intro {
	padding-top: 92px;
	max-width: 76.87%;
	margin: 0 auto;
}	


@media (max-width: 1024px) {
	.intro{
		max-width: 90.6%;
		padding-top: 8.59vw;
	}
}

@media (max-width: 768px) {
	.intro{
		width: 93.75%;
		padding-top: 11.45vw;
	}
}

@media (max-width: 320px) {
	.intro{
		width: 288px;
		padding-top: 64px;
	}
}
