@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list/__list_weight/intro__list_weight_bold.css);

.intro {
	padding-top: 92px;
	max-width: 984px;
	margin: 0 auto;
}	

@media (max-width: 768px) {
	.intro{
		width: 720px;
		margin: 0 auto;
		padding-top: 88px;
	}
}