.header__lang-links {
	padding-top: 18px;
	list-style-type: none;	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 18px;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

@media (max-width: 320px) {
	.header__lang-links{ 
		padding-top: 14px;
	}
}